

test
<%= @asd%> 
<%= button_to 'test1', 'creation/test'%>
<button type='button' onclick='left()'>left</button>
<%= @test.testshow(6)%>
</br>

<script>
	function left(){
		alert('left')
	}
	function right(){
		alert('right')
	}

</script>
