        <ul>
                <li id="id-service1">
                        <div>
                                <a herf="">
                                        <%= image_tag "service.png", :mouseover => "logo.png", :style => "width:300px;height:250px" %>
                                </a>
                        </div>
                </li>
                <li id="id-service2">
                        <div>
                                <a herf="">
                                        <%= image_tag "service1.png" %>
                                </a>
                        </div>
                </li>
                <li id="id-service3">
                        <div>
                                <a herf="">
                                        <%= image_tag "service2.png" %>
                                </a>
                        </div>
                </li>
        </ul>
